<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.root.member.BoardMapper">
	<resultMap type="com.care.root.member.BoardMapper" id="bm">
		<result property="useranme" column="username"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="list" column="list"/>
		<result property="time" column="time"/>
	</resultMap>

<insert id="write" useGeneratedKeys="true" keyProperty="list">
	insert into board(username,title,content,time) 
	values (#{username},#{title},#{content},now())
</insert>

<select id="boardList" resultType="com.care.root.member.BoardVO">
	select list,username,title,content,time from board order by list desc
</select>

</mapper>